version: "3"

services:
    frontend:
        container_name: frontend
        build: frontend
        ports:
            - "80:80"
        volumes:
            - "./frontend:/app/"
            # - "/app/node_modules"
        environment:
            - PORT=80
            - HOST=0.0.0.0
    backend:
        container_name: backend
        build: backend
        ports:
            - "8080:8080"
        volumes:
            - "./backend:/app/"
            - "/app/node_modules"
        environment:
            - PORT=8080
            - HOST=0.0.0.0
    pubsub:
        image: library/redis:5-alpine3.8
        command: redis-server /usr/local/etc/redis/redis.conf
        ports:
            - "6379:6379"
        volumes:
            - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
            - ./redis/data:/data
